@import 'tailwindcss';

@font-face {
  font-family: BG-BOLD;
  src: url("./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf");
}
@font-face {
  font-family:BG-VariableFont ;
  src: url("./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz\,wdth\,wght.ttf");
}
@font-face {
  font-family:DM-Sans-Italic ;
  src: url("./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz\,wght.ttf");
}
@font-face {
  font-family: DM-Sans-Variable;
  src: url("./assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf");
}